.slashIcon {
  fill: var(--color-white);
  opacity: 0;
  position: absolute;
  top: 25px;
  height: 40px;
  width: 40px;

  animation-name: pulseSlash;
  animation-duration: 4.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    height: 50px;
    width: 50px;
  }
}

@keyframes pulseSlash {
  0%,
  66% {
    opacity: 0;
  }
  33%,
  100% {
    opacity: 1;
  }
}
