.sm {
  background-color: var(--color-white-opacity);
  color: var(--color-black);
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: var(--height-header-small-screen);
  transition: opacity 0.4s ease;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    top: var(--height-header-big-screen);
  }
}

.smVisible {
  opacity: 1;
  bottom: 0;

  & .smInner {
    display: block;
  }
}

.smInner {
  display: none;
  & h2 {
    text-align: center;
    margin: 20px 0;
  }
}

.smResultsWrapper {
  display: flex;
  justify-content: space-between;
}

.smCol {
  width: 49%;
}

.smResult {
  display: block;
  width: 100%;
}
