:root {
  --base-font-family: "Comfortaa", "Open Sans";
  --color-black: #0f1121;
  --color-white: #fcfcfc;

  --max-screen-width: 1240px;
  --small-screen-inner-width: 95%;

  --height-header-small: 85px;
  --height-header-big: 105px;
  --height-footer: 115px;

  --medium-and-up: "only screen and (min-width : #{$small-screen-up})";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
select,
input,
textarea,
button,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--base-font-family);
  text-transform: lowercase;

  font-size: 15px;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    font-size: 17px;
  }
}

p {
  line-height: 1.4;
  margin-bottom: 15px;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    margin-bottom: 25px;
  }

  /* large-and-up */
  @media only screen and (min-width: 1051px) {
    margin-bottom: 35px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: var(--color-black);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.default-wrapper-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-screen-width);
  width: var(--small-screen-inner-width);
}
