:root {
  --color-black: #0f1121;
  --color-black-opacity: rgba(15, 17, 33, 0.5);
  --color-white: #fcfcfc;
  --color-white-opacity: rgba(252, 252, 252, 0.95);

  --max-screen-width: 1240px;
  --small-screen-inner-width: 95%;

  --height-header-small: 85px;
  --height-header-big: 105px;
  --height-footer: 115px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
select,
input,
textarea,
button,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  text-transform: lowercase;

  font-size: 15px;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    font-size: 17px;
  }
}

p {
  line-height: 1.4;
  margin-bottom: 15px;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    margin-bottom: 25px;
  }

  /* large-and-up */
  @media only screen and (min-width: 1051px) {
    margin-bottom: 35px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: var(--color-black);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

input[type="text"],
input[type="name"],
input[type="email"],
textarea {
  transition: border 0.4s ease;
  background-color: var(--color-white);
  border: 2px solid var(--color-black-opacity);
  box-sizing: border-box;
  padding: 8px 15px;

  &:focus {
    border-color: var(--color-black);
  }

  &::placeholder {
    color: var(--color-black-opacity);
  }
}

.default-wrapper-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-screen-width);
  width: var(--small-screen-inner-width);
}
