.search {
  position: relative;
}

.searchFocused {
  & .searchIcon {
    left: 10px;
  }

  & input[type="text"].searchInput {
    border-color: var(--color-white);
  }
}

.searchClearIcon {
  cursor: pointer;
  height: 21px;
  opacity: 0;
  position: absolute;
  right: 10px;
  transition: opacity 0.4s ease;
  top: 9px;
  width: 21px;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    top: 11px;
  }
}

.searchClearIcon.searchHasText {
  opacity: 1;
}

.searchIcon {
  cursor: text;
  height: 21px;
  left: calc(100% - 21px);
  position: absolute;
  transition: left 1s ease;
  top: 9px;
  width: 21px;

  /* medium-and-up */
  @media only screen and (min-width: 601px) {
    top: 11px;
  }
}

input[type="text"].searchInput {
  background-color: transparent;
  border-color: var(--color-black);
  color: var(--color-white);
  padding: 8px 37px;
  transition: border-color 0.4s ease;
  width: 100%;
}
